.navbar {
    /* background-color: #e3d8d8; */
    padding: 0;
    height: 70px;
}
.logo-image{
    max-width: 287px;
}
.nav-link{
    position: relative;
    z-index: 2;
    color: #AADCDC !important;
    font-size: 1rem !important;
}
.nav-link:hover{
 color: #fff !important;
 font-weight: bold;
}
.header{
    background: linear-gradient( 0deg, #11181F, #1D262F );
    height: 600px;
    position: relative;
}
.epuvUc {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 230px;
    transform: translateY(1px);
    z-index: 1;
}
.exNWwu {
    position: absolute;
    left: -3%;
    right: -3%;
    bottom: 0px;
    width: 106%;
    min-width: 600px;
    max-width: unset;
}

.btn-contact{
    background-color: #AADCDC !important;
    color: #11181F !important;
}
.btn-contact:hover{
    border: 1px solid #AADCDC !important;
    background-color: transparent !important;
    color: #AADCDC !important;
}
h6{
    color: #AADCDC;
}
.name-title{
   color:  #BECCE7;
}
.title{
   color:  #8391AC;
}
.brief{
    color:  #8391AC;
}
.btn-resume{
    color: #AADCDC !important;
    border: 1px solid #AADCDC !important;
    width: 140px;
    /* color:  #1D262F !important; */
    position: absolute;
    z-index: 2;
    text-decoration: none;
    transition: all 5.5s ease-out;
}
.btn-resume:hover{
    /* background-color: #AADCDC !important; */
    border-radius: 0%;
}
/* .btn-resume i{
    color: #11181F;

} */
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.nav-link:hover:before,
.btn-resume:hover:before {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.nav-link::before {
    z-index: 1;
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: -1px;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    background: linear-gradient(90deg, #90a8a85f, #1D262F);
}
.btn-resume::before {
    z-index: 1;
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    bottom:-1px;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    background: linear-gradient(90deg, #90a8a85f, #1D262F);
}

.icon7{
    position: absolute;
    left: 27%;
    font-size: 45px;
    top: 1%;
    height: 29px;
    width: 60px;
    animation: mover 1s infinite alternate;
    transition: .3 ease all;
    color: #aadcdc;
}
/*.icon6{
    position: absolute;
    left: 7%;
    font-size: 45px;
    top: -3%;
    height: 29px;
    width: 60px;
    animation: mover 1s infinite alternate;
    transition: .3 ease all;
    color: #aadcdc;
}
@keyframes mover {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-10px);
    }
} */

/* start   services */

    .services{
        height: 700px;
        width: 100%;
        background-color: #AADCDC;

    }
/* end   services */