
*{
    box-sizing: border-box;
    margin: 0;
}

.app{
    background-color: #1D262F;
    position: relative;
}

/*  dark and light mood */

.toggler{
    display: flex;
    align-items: stretch;
    margin-top: 10px;
    margin-left: 20px;
  }
  .toggler-slider{
    width: 40px;
    height: 22px;
    margin-inline: 7px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #FFDCBA;
    margin: 0 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: .6s;
  
  }
  .toggler-slider-circle{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 15px;
    transition: .6s;
  }
  .toggler-light{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%;
    text-align: center;
    color: #FFDCBA;
  }
  .toggler-dark{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 110%;
    text-align: center;
    color: #D5D4D8;
  }
/*  dark and light mood */
.navbar {
    /* background-color: #e3d8d8; */
    padding: 0;
    height: 70px;
}
.nav-container{
    background-color: #1D262F;
    z-index: 5;
}
.logo-image{
    max-width: 187px;
}
.nav-link{
    position: relative;
    z-index: 2;
    color: #FFDCBA !important;
    font-size: 1rem !important;
}
.nav-link:hover{
 color: #fff !important;
 font-weight: bold;
}
.header{
    background: linear-gradient( 0deg, #11181F, #1D262F );
    /* height: 600px; */
    /* position: relative; */
}
.epuvUc {
    /* overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 230px;
    transform: translateY(1px);
    z-index: 1; */
    overflow: hidden;
    display: block;
    /* position: absolute; */
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    transform: translateY(-1px);
    margin-bottom: -1px;
}
.epuvUc.skills {
    transform: translateY(46px);
}
.exNWwu {
    position: absolute;
    left: -3%;
    right: -3%;
    bottom: 0px;
    width: 106%;
    min-width: 600px;
    max-width: unset;
}

.btn-contact{
    background-color: #FFDCBA !important;
    color: #11181F !important;
}
.btn-contact:hover{
    border: 1px solid #FFDCBA !important;
    background-color: transparent !important;
    color: #FFDCBA !important;
}
h6{
    color: #FFDCBA;
}
.name-title{
   color:  #BECCE7;
}
.title{
   color:  #8391AC;
}
.brief{
    color:  #8391AC;
}
.btn-resume{
    color: #FFDCBA !important;
    border: 1px solid #FFDCBA !important;
    width: 140px;
    /* color:  #1D262F !important; */
    position: absolute;
    z-index: 2;
    text-decoration: none;
    transition: all 5.5s ease-out;
}
.btn-resume:hover{
    border-radius: 0%;
}

.my-image{
    width: 100%;
    height: auto;
}
.logo-box{
    width: 400px;
    height: 400px;
}

body{
    font-family: 'Almarai, sans-serif';
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.nav-link:hover:before,
.btn-resume:hover:before,
.social a:hover::before
 {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.nav-link::before
 {
    z-index: 1;
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: -1px;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease 0s;
    background: linear-gradient(90deg, #90a8a85f, #FFDCBA);
}
.btn-resume::before{
    z-index: 1;
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    bottom:-1px;
    left: 0px;
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    background: linear-gradient(90deg, #90a8a85f, #FFDCBA);
}


.icon7{
    position: absolute;
    left: 27%;
    font-size: 45px;
    top: 1%;
    height: 29px;
    width: 60px;
    animation: mover 1s infinite alternate;
    transition: .3 ease all;
    color: #FFDCBA;
}

/* start   services */

    .services{
        /* height: 700px; */
        /* width: 100%; */
        background-color: #FFDCBA;
        position: relative;

    }
    .services h2 .title-name{
        /* position: absolute;
        width: 160px;
        height: 40px;
        left: 50%;
        transform: translateX(-50px);
        z-index: -1; */
    }
    .services .title-service{
        width: 170px;
        height: 60px;
        display: inline-block;
        background-image: url("./images/B_bg_gray.png");
        background-repeat: no-repeat;
    }
    .services .title-service .title{
        color: #FFDCBA;
    }
    .services .service-card{
        /* border:3px  dashed #8391AC; */
        background-color: #fff;
        padding: 47px;
        box-shadow: 10px 10px 15px #8391AC;
        margin-bottom: 15px;
        color: #1D262F !important;
        font-weight: bold;
    }
    /* .services .service-card::after{
        content: "";
        position: absolute;
        left: 100%;
        height: 4px;
        width: 40px;
        background-color: #8391AC;
    }
    .services .service-card.one::before{
        content: "";
        position: absolute;
        right: 100%;
        height: 4px;
        width: 40px;
        background-color: #8391AC;
    } */
    .card-title-box{
        /* width: 270px; */
        /* height:30px; */
        display: inline-block;
        background-image: url("./images/logoColor.png");
        background-repeat: no-repeat;
    }
    .epuvUc.service {
        transform: translateY(47px);
    }
/* end   services */

/* ////////////////////////////////// */

/* start social  */

.social{
    background-image: url("./images/download\ \(7\).png");
    /* box-shadow: -5px 5px 5px #8391AC; */
    position: fixed;
    right: 6px;
    top: 30%;
    z-index: 4;
}
.social a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.5s ease;
    position: relative;
  }
  .social a::before {
    z-index: 1;
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    bottom:-1px;
    left: 0px;
    opacity: 0.1;
    transition: all 0.3s ease-in-out 0s;
    background: linear-gradient(90deg, #282d5f26, #242b61c0);
}
/* end   social */


/* start skills section */
.skills{
    background-color: #1D262F;
    position: relative;
}
.skills .title-skills{
    width: 170px;
    height: 60px;
    display: inline-block;
    background-image: url("./images/B_bg_red.png");
    background-repeat: no-repeat;
}
.title-skills .title{
    color: #FFDCBA;
}
.skill-card{
    width: 170px;
    height: 65px;
    padding: 20px;
    background-color: #FFDCBA;
    color: #11181F;
    margin: 6px;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}
.skill-card:hover{
color: #fff;
}
.skill-card.html:hover{
    background-color: rgb(233 98 40);
}
.skill-card.css:hover{
    background-color: rgb(40 98 233);
}
.skill-card.javascript:hover{
    background-color: rgb(234 212 28);
}
.skill-card.react:hover{
    background-color: rgb(94 211 243);
}
.skill-card.git:hover{
    background-color: #F64D27;
}
.skill-card.bootstrap:hover{
    background-color:#7952B3;
}
.skill-card.node:hover{
    background-color:#52A044;
}
.skill-card.laravel:hover{
    background-color:#F23C2F;
}
.skill-card.php:hover{
    background-color:#7A86B8;
}
/* end skills section */